[submodule "dining-philosophers"]
	path = dining-philosophers
	url = git@github.com:jakubwiczkowski/dining-philosophers.git
[submodule "tcp-chat"]
	path = tcp-chat
	url = git@github.com:jakubwiczkowski/tcp-chat.git
